@model IEnumerable<PortalWebPontoCertificado.Models.Funcionarios>

@{
    ViewData["Title"] = "Funcionários";
}

<h1>Funcionários</h1>

<p>
    <a asp-action="Create">Cadastrar Funcionário</a>
</p>
<form asp-controller="Funcionarios" asp-action="Search" method="get">
        <input placeholder="Insira o Nome ou o CPF" type="text" name="searchString" class="form-control" />
        <input type="radio" name="radioValue" value="Nome" /><label class="radioLabel">Nome</label><input type="radio" name="radioValue" value="CPF" /><label class="radioLabel">CPF</label>
        <input type="submit" value="Filtrar" class="btn btn-primary" />
</form>
<table class="table">
    <thead>
        <tr>
            <th align="center">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.PIS)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIS)
                </td>
                <td>
                    @item.Salario.ToString("N2")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAdmissao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>